<div class="footer">
    <h1 class="footer-title">AMERICAN EXPRESS</h1>
    <div class="footer_country-toggle"><div class="american-logo-flag"></div> United States <span class="link">Change Country</span></div>
    <div class="footer_language-toggle">English | <span class="link">Spanish</span></div>
    <div class="footer_links">
        <a href="https://www.google.com/" class="link">Website Rules and Regulations</a> |
        <a href="https://www.google.com/" class="link">Trademarks</a> |
        <a href="https://www.google.com/" class="link">Privacy Statement</a> |
        <a href="https://www.google.com/" class="link">Business Directory</a>
    </div>
    <div class="footer_copyright-text">Copyright &copy; 2016 American Express Company</div>
</div>