<div class="hero">
  <div class='hero-header'>
    Whatever size your <br />business, American <br />Express has your back
  </div>
  <div class='hero-sub-header'>
    Explore the many ways American Express can help you say yes to your companies best ideas.
  </div>
  <div class='hero-tagline'>
    How can we help you?
  </div>
</div>
