<div class="hero">
    <div id="dropdownMenu" class="dropdown-menu hide-menu">
        <ul>
            <li>
                <a>Small to Mid-Sized Businesses</a>
            </li>
            <li>
                <a>Large Businesses</a>
            </li>
            <li>
                <a>Find a Solution</a>
            </li>
            <li>
                <a>Manage Accounts</a>
            </li>
            <li>
                <a>Card Member</a>
            </li>
            <li>
                <a>Program Administrator</a>
            </li>
            <li>
                <a>FX International Payments Login</a>
            </li>
        </ul>
    </div>
  <div class='hero-header'>
    Whatever size your <br />business, American <br />Express has your back
  </div>
  <div class='hero-sub-header'>
    Explore the many ways American Express can help you say yes to your companies best ideas.
  </div>
</div>
