<div class="get-started">
  <h2 class="head">Ready to get started?</h2>
  <span class="text">
    Whether you’re a small, mid or large business, we have a suite of solutions for your needs.
  </span>
  <div class="cards">
    <amp-img
      class="card"
      width="380"
      height="240"
      layout="responsive"
      src='https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/open/category/cardarts/business-gold-rewards.png'
      alt='Business Gold Rewards Card'
    ></amp-img>
    <amp-img
      class="card"
      width="480"
      height="304"
      layout="responsive"
      src='https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/corporate/category/cardarts/corporate-platinum.png'
      alt='Corporate Platinum Card'
    ></amp-img>
    <div class="clear"></div>
  </div>
  <a class="primary" href="https://www.americanexpress.com/us/credit-cards/business/business-credit-cards/">View all Business Cards</button>
  <a class="secondary" href="https://www.americanexpress.com/us/credit-cards/business/corporate-credit-cards/">View all Corporate Programs</button>
</div>
