<div class="get-started">
  <h2 class="head">{{content.getStarted.head}}</h2>
  <span class="text">
    {{content.getStarted.text}}
  </span>
  <div class="cards">
    <amp-img
      class="card"
      width="380"
      height="240"
      layout="responsive"
      src="{{content.getStarted.gold.src}}"
      alt="{{content.getStarted.gold.alt}}"
    ></amp-img>
    <amp-img
      class="card"
      width="480"
      height="304"
      layout="responsive"
      src="{{content.getStarted.platinum.src}}"
      alt="{{content.getStarted.platinum.alt}}"
    ></amp-img>
    <div class="clear"></div>
  </div>
  <a class="primary" href="{{content.getStarted.business.link}}">{{content.getStarted.business.text}}</a>
  <a class="secondary" href="{{content.getStarted.corporate.link}}">{{content.getStarted.corporate.text}}</a>
</div>
