<div class="get-started">
  <h2 class="head">Ready to get started?</h2>
  <span class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </span>
  <div class="cards">
    <img
      class="card"
      width="47.5%"
      src='https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/open/category/cardarts/business-gold-rewards.png'
      alt='Business Gold Rewards Card'
    ></img>
    <img
      class="card"
      width="47.5%"
      src='https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/corporate/category/cardarts/corporate-platinum.png'
      alt='Corporate Platinum Card'
    ></img>
    <div class="clear"></div>
  </div>
  <a class="primary" href="https://www.americanexpress.com/us/credit-cards/business/business-credit-cards/">View all Business Cards</button>
  <a class="secondary" href="https://www.americanexpress.com/us/credit-cards/business/corporate-credit-cards/">View all Corporate Programs</button>
</div>
