.semantic-filter {
  background: #F7F8F9;
  padding-top: 30px
  padding-bottom: 30px

  .container {
    width: 80%;
    margin: 0px auto;
  }

  .tagline {
    font-size: 20px;
    color: #53565A;
  }

  .selector {
    .text {
      font-size: 20px;
      color: #A7A8AA;
    }
    .down-arrow {
      margin-left: 8px;
      margin-right: 8px;
    }
    .reset-link {
      color: #006DFF;
      font-size: 14px;
    }
  }
}
