<div class="semantic-filter">
  <div class="container">
    <span class="tagline">
      I'm looking for products for my
    </span>
    <div class="selector">
      <span class="text">Choose Business Size</span>
      <amp-img width='20' height='20' class="down-arrow" src="./assets/dls-icon-down.svg"/>
      <span class="link reset-link">Reset</span>
    </div>
  </div>
</div>
