<div class='feature-articles-carousel'>
  <div class="article-tile">
    <div class="article">
      <div class="article_img"><img src='/assets/wine.png'></imgs><!-- 3 Card Img --></div>
      <div class="article_header tile-header">Wine Industry</div>
      <div class="article_copy tile-copy">{{{content.wineIndustry.copy}}}</div>
      <div class="link"><a href={{{content.wineIndustry.cta.url}}}></a>{{content.wineIndustry.cta.body}}</div>
    </div>

    <div class="article">
      <div class="article_img"><img src='/assets/tailor.png'></img><!-- Smile people img --></div>
      <div class="article_header tile-header">Rising Interest</div>
      <div class="article_copy tile-copy">{{{content.risingInterest.copy}}}</div>
      <div class="link"><a href={{{content.risingInterest.cta.url}}}>{{{content.risingInterest.cta.body}}}</a></div>
    </div>

    <div class="article">
      <div class="article_img"><img src='/assets/wood-shop.png'></img><!-- Homemade twister img --></div>
      <div class="article_header tile-header">Lorem Ipsum</div>
      <div class="article_copy tile-copy">{{{content.featureArticle3.copy}}}</div>
      <div class="link"><a href={{{content.featureArticle3.cta.url}}}>{{{content.featureArticle3.cta.body}}}</a></div>
    </div>
  </div>
</div>
