body {
font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  margin: 1rem;
}

.tracing-image {
  background: url(https://slack-imgs.com/?c=1&url=https%3A%2F%2Fs3.invisionapp-cdn.com%2Fk8s-private-aexp-cluster%2Fscreens%2Ffiles%2F219575135.jpg%3Fx-amz-meta-iv%3D3%26response-cache-control%3Dmax-age%253D2419200%26x-amz-meta-ck%3Df5908afbb337851d7f7e61ce5b6de08e%26AWSAccessKeyId%3DAKIAIAWTUDIXJUYQSXEQ%26Expires%3D1530403200%26Signature%3D%252BrVZQKrj1BxT2pW8waA99u%252FBSIc%253D) no-repeat;
  background-size: 100%;
  height: 3108px;
}

.menu-banner {
  background: url(https://commercial-card.americanexpress.com/assets/desktop-b/images/banner-dont-do-business.png) no-repeat;
  background-size: 61% auto;
  background-color: #fff;
  background-position: 19.5px 34.5px;
  height: 68px;
}

.hero{
  color: #fff;
  height: 204px;
  padding: 32px 19px;
  position: relative;

  background: url(https://slack-imgs.com/?c=1&url=https%3A%2F%2Fs3.invisionapp-cdn.com%2Fk8s-private-aexp-cluster%2Fscreens%2Ffiles%2F219575135.jpg%3Fx-amz-meta-iv%3D3%26response-cache-control%3Dmax-age%253D2419200%26x-amz-meta-ck%3Df5908afbb337851d7f7e61ce5b6de08e%26AWSAccessKeyId%3DAKIAIAWTUDIXJUYQSXEQ%26Expires%3D1530403200%26Signature%3D%252BrVZQKrj1BxT2pW8waA99u%252FBSIc%253D) no-repeat;
  background-size: 100%;
  background-position: 0px -68px;
}

.hero-header {
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.3;
  letter-spacing: 0.7px;
  margin-bottom: 22px;
}

.hero-sub-header {
  font-size: .9em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 16px;
}

.hero-tagline {
  font-size: 1.24em;
}

.square-btns {
  width: 100%;
  height: 222px;
  background-color: #F00;
  /*display: none;*/
}

.square-btn {
  float: left;
  height: 111px;
  width: 125px;
  background-color: #0F0;
}
.square-btn.blue {
  background-color: #1271cd;
}
