@import './test.css';
@import '../partials/hero/hero.css';

body {
font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  margin: 1rem;
}

.tracing-image {
  /*
  background: url(https://s3.invisionapp-cdn.com/k8s-private-aexp-cluster/screens/files/219575135.jpg?x-amz-meta-iv=3&response-cache-control=max-age%3D2419200&x-amz-meta-ck=f5908afbb337851d7f7e61ce5b6de08e&AWSAccessKeyId=AKIAIAWTUDIXJUYQSXEQ&Expires=1530403200&Signature=%2BrVZQKrj1BxT2pW8waA99u%2FBSIc%3D) no-repeat;
  */
  background-size: 100%;
  height: 3108px;
}

.square-btns {
  width: 100%;
  height: 222px;
  background-color: #F00;
  /*display: none;*/
}

.square-btn {
  float: left;
  height: 111px;
  width: 125px;
  background-color: #0F0;
}
.square-btn.blue {
  background-color: #1271cd;
}
.get-started {
  background-color: #fff;
  padding: 10% 5%;
}

.get-started .head {
  font-family: BentonSans-Book;
  font-size: 24px;
  color: #4E5356;
  line-height: 30px;
}

.get-started .text {
  font-family: BentonSans-Book;
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  line-height: 24px;
}

.get-started .card:first-child {
  margin-right: 5%;
}

.get-started .cards {
  margin-top: 20px;
}

.get-started .card {
  display: block;
  float: left;
  width: 47.5%;
}

.get-started a {
  border-radius: 4px;
  font-family: HelveticaNeue;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  display: block;
  text-decoration: none;
  line-height: 50px;
}

.get-started a.primary {
  background: #006FCF;
  color: #FFFFFF;
}

.get-started a.secondary {
  background: #FFFFFF;
  border: 1px solid #006FCF;
  color: #006FCF;
}

.info-tiles {
  background: #F7F8F9;;
}
.info-tile {
  margin: 0 10px 10px 10px;
}
.tile-header {
  margin-bottom: 5px;
  font-family: BentonSans-Book;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  line-height: 16px;
}
.tile-copy{
  margin-bottom: 5px;
  font-family: BentonSans-Book;
  font-size: 14px;
  color: #63666A;
  letter-spacing: 0;
  text-align: left;
  line-height: 22px;
}
.link{
  margin-bottom: 5px;
  font-family: BentonSans-Book;
  font-size: 14px;
  color: #006FCF;
  letter-spacing: 0;
  text-align: left;
}
.info-tile_footnote{
  margin-bottom: 5px;
  font-family: BentonSans-Book;
  font-size: 10px;
  color: #63666A;
  letter-spacing: 0;
  text-align: left;
  line-height: 16px;
}
