<div class="square-btns">
  <div class="square-btn active">
    <span class="icon business"></span>
    Borrow funds to<br />grow your<br />business
  </div>
  <div class="square-btn">
    <span class="icon rewards"></span>
    Maximize rewards<br />on business spend
  </div>
  <div class="square-btn">
    <span class="icon airplane"></span>
    Manage employee<br />expenses
  </div>
  <div class="square-btn">
    <span class="icon card-swipe"></span>
    Improve accounts<br />payable processes
  </div>
  <div class="square-btn">
    <span class="icon dollars-recycling"></span>
    Pay suppliers<br />globally
  </div>
  <div class="square-btn blue">
    <span class="icon search"></span>
    Need Help<br />Deciding?
  </div>
</div>
