<div class="square-btns">
  <div class="square-btn active">
    <div class="icon business"></div>
    Borrow funds to<br />grow your<br />business
  </div>
  <div class="square-btn">
    <div class="icon rewards"></div>
    Maximize rewards<br />on business spend
  </div>
  <div class="square-btn">
    <div class="icon airplane"></div>
    Manage employee<br />expenses
  </div>
  <div class="square-btn">
    <div class="icon card-swipe"></div>
    Improve accounts<br />payable processes
  </div>
  <div class="square-btn">
    <div class="icon dollars-recycling"></div>
    Pay suppliers<br />globally
  </div>
  <div class="square-btn blue">
    <div class="icon search"></div>
    Need Help<br />Deciding?
  </div>
</div>
<amp-list width="auto" height="100" layout="fixed-height" src="http://localhost:3001/assets/square-btns.json" class="m1">
    <template type="amp-mustache">
        {{name}}
    </template>
</amp-list>
