<div class="square-btns">
  <div class="square-btn active" tabindex="" role="button" on="tap:AMP.setState({currentAnimal: 'borrow-funds'})">
    <div class="icon business"></div>
    Borrow funds to
    <br />grow your
    <br />business
  </div>
  <div class="square-btn" tabindex="" role="button" on="tap:AMP.setState({currentAnimal: 'maximize-rewards'})">
    <div class="icon rewards"></div>
    Maximize rewards
    <br />on business spend
  </div>
  <div class="square-btn" tabindex="" role="button" on="tap:AMP.setState({currentAnimal: 'manage-employee-expenses'})">
    <div class="icon airplane"></div>
    Manage employee
    <br />expenses
  </div>
  <div class="square-btn" tabindex="" role="button" on="tap:AMP.setState({currentAnimal: 'improve-accounts'})">
    <div class="icon card-swipe"></div>
    Improve accounts
    <br />payable processes
  </div>
  <div class="square-btn" tabindex="" role="button" on="tap:AMP.setState({currentAnimal: 'pay-suppliers'})">
    <div class="icon dollars-recycling"></div>
    Pay suppliers
    <br />globally
  </div>
  <div class="square-btn blue" tabindex="" role="button" on="tap:AMP.setState({currentAnimal: 'need-help-deciding'})">
    <div class="icon search"></div>
    Need Help
    <br />Deciding?
  </div>
</div>
