<!doctype html>
<html ⚡>

<head>
  <meta charset="utf-8">
  <title>American Express</title>
  <link rel="canonical" href="self.html" />
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <style amp-custom>
    body {
	  font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 1em;
    }

    h1 {
      margin: 1rem;
    }

    .tracing-image {
      background: url(https://slack-imgs.com/?c=1&url=https%3A%2F%2Fs3.invisionapp-cdn.com%2Fk8s-private-aexp-cluster%2Fscreens%2Ffiles%2F219575135.jpg%3Fx-amz-meta-iv%3D3%26response-cache-control%3Dmax-age%253D2419200%26x-amz-meta-ck%3Df5908afbb337851d7f7e61ce5b6de08e%26AWSAccessKeyId%3DAKIAIAWTUDIXJUYQSXEQ%26Expires%3D1530403200%26Signature%3D%252BrVZQKrj1BxT2pW8waA99u%252FBSIc%253D) no-repeat;
      background-size: 100%;
      height: 3108px;
    }

    .menu-banner {
      background: url(https://commercial-card.americanexpress.com/assets/desktop-b/images/banner-dont-do-business.png) no-repeat;
      background-size: 61% auto;
      background-color: #fff;
      background-position: 19.5px 34.5px;
      height: 68px;
    }

    .hero{
      color: #fff;
      height: 204px;
      padding: 32px 19px;
      position: relative;

      background: url(https://slack-imgs.com/?c=1&url=https%3A%2F%2Fs3.invisionapp-cdn.com%2Fk8s-private-aexp-cluster%2Fscreens%2Ffiles%2F219575135.jpg%3Fx-amz-meta-iv%3D3%26response-cache-control%3Dmax-age%253D2419200%26x-amz-meta-ck%3Df5908afbb337851d7f7e61ce5b6de08e%26AWSAccessKeyId%3DAKIAIAWTUDIXJUYQSXEQ%26Expires%3D1530403200%26Signature%3D%252BrVZQKrj1BxT2pW8waA99u%252FBSIc%253D) no-repeat;
      background-size: 100%;
      background-position: 0px -68px;
    }

    .hero-header {
      font-weight: 300;
      font-size: 1.7em;
      line-height: 1.3;
      letter-spacing: 0.7px;
      margin-bottom: 22px;
    }

    .hero-sub-header {
      font-size: .9em;
      font-weight: 300;
      line-height: 1.4em;
      margin-bottom: 16px;
    }

    .hero-tagline {
      font-size: 1.24em;
    }

    .square-btns {
      width: 100%;
      height: 222px;
      background-color: #F00;
      /*display: none;*/
    }

    .square-btn {
      float: left;
      height: 111px;
      width: 125px;
      background-color: #0F0;
    }
    .square-btn.blue {
      background-color: #1271cd;
    }

    .get-started {
      background-color: #fff;
      padding: 10% 5%;
    }
  </style>
</head>

<body>
  <div class="tracing-image">
    <div class="menu-banner">
    </div>
    <div class="hero">
      <div class='hero-header'>
        Whatever size your <br />business, American <br />Express has your back
      </div>
      <div class='hero-sub-header'>
        Explore the many ways American Express can help you say yes to your companies best ideas.
      </div>
      <div class='hero-tagline'>
        How can we help you?
      </div>
    </div>
    <div class="square-btns">
      <div class="square-btn">
        Borrow funds to<br />grow your<br />business
      </div>
      <div class="square-btn">
        Maximize rewards<br />on business spend
      </div>
      <div class="square-btn">
        Manage employee<br />expenses
      </div>
      <div class="square-btn">
        Improve accounts<br />payable processes
      </div>
      <div class="square-btn">
        Pay suppliers<br />globally
      </div>
      <div class="square-btn blue">
        Need Help<br />Deciding?
      </div>
    </div>
    <div class="semantic-filter">
      I'm looking for products for my
      <div>
        Choose Business Size <span class="down-arrow"></span> <span class="link reset-link">Reset</span>
      </div>
    </div>
    <div class="info-tiles vertical-tiles">
      <div class="info-tile">
        <div class="info-tile_img"><!-- 3 Card Img --></div>
        <div class="info-tile_header tile-header">Business Credit Cards</div>
        <div class="info-tile_copy tile-copy">Credit Cards that let you buy above your credit limit<sup>*</sup>, for purchasing power to help buy what you need for your business</div>
        <div class="link">See all Business Cards</div>
        <div class="info-tile_footnote">*The amount you can spend above your credit limit is not unlimited. It adjusts with the use of your Card, your payment history, credit record, financial resources known to us, and other factors.</div>
      </div>

      <div class="info-tile">
        <div class="info-tile_img"><!-- Smile people img --></div>
        <div class="info-tile_header tile-header">Business Loans</div>
        <div class="info-tile_content">Unsecured, fixed-rate business loans between $3,500 and $50,000<sup>*</sup> with your choice of repayment period, for pre-approved Card Members</div>
        <div class="link">Learn More</div>
        <div class="info-tile_footnote">*You must be pre-approved for an American Express<sup>&reg;</sup> Business Loan offer in order to apply. Your pre-approved loan amount and maximum APR are based on the creditworthiness of you and your business and other factors. Not all customers will be pre-approved for the lowest APR or the highest loan amount.</div>
      </div>

      <div class="info-tile">
        <div class="info-tile_img"><!-- Homemade twister img --></div>
        <div class="info-tile_header tile-header">Merchant Financing</div>
        <div class="info-tile_content">Fixed-fee, no interest business loans between $5000 and $2,000,000, offered exclusively to businesses that accept American Express<sup>&reg;</sup> Cards. Terms Apply.</div>
        <div class="link">Learn More</div>
      </div>
    </div>
    <div class="get-started">
      <h2>Ready to get started?</h2>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </span>
      <img src='https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/open/category/cardarts/business-gold-rewards.png' alt='Business Gold Rewards Card'>
      <img src='https://icm.aexp-static.com/Internet/Acquisition/US_en/AppContent/OneSite/corporate/category/cardarts/corporate-platinum.png' alt='Corporate Platinum Card'>
      <button>View all Business Cards</button>
      <button>View all Corporate Programs</button>
    </div>
    <div class="featured-articles horizontal-tiles scrolling-tiles-horizontal">
      <div class="featured-article">
      	<div class="featured-article-img"></div>
      	<div class="featured-article-header tile-header"></div>
      	<div class="featured-article-copy tile-copy"></div>
        <div class="link"></div>
      </div>
      <div class="featured-articles-footer">Swipe across to view more articles</div>
    </div>
    <div class="footer">

    </div>
  </div>
</body>

</html>
