.info-tiles {
  background: #F7F8F9;
}
.info-tile {
  margin: 30px 10px 10px 10px;
}
.info-tile_img{
  margin-bottom: 20px;
}
.tile-header {
  margin-bottom: 5px;
  font-family: BentonSans-Book;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  line-height: 16px;
}
.tile-copy{
  margin-bottom: 5px;
  font-family: BentonSans-Book;
  font-size: 14px;
  color: #63666A;
  letter-spacing: 0;
  text-align: left;
  line-height: 22px;
}
.link{
  margin-bottom: 5px;
  font-family: BentonSans-Book;
  font-size: 14px;
  color: #006FCF;
  letter-spacing: 0;
  text-align: left;
}
.info-tile_footnote{
  margin-bottom: 5px;
  font-family: BentonSans-Book;
  font-size: 10px;
  color: #63666A;
  letter-spacing: 0;
  text-align: left;
  line-height: 16px;
}
