.menu-banner {
  display: flex;
}
.brand-logo {
  width: 85%;
}
.drop-down-button {
  width:7%;
  margin:auto;
  cursor: pointer;
}
.rotate-icon {
  transform: rotate(180deg);
}
.hide-menu {
  display: none;
}
.dropdown-menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.dropdown-menu ul{
  margin: 0;
  color: #006fcf;
  font-weight: normal;
  font-family: BentonSans-Lt, helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  list-style: none;
  background: #fff;
  border: 0.1px solid #E6E6E6;
}
.dropdown-menu ul li{
  border-bottom: 0.1px solid #E6E6E6;
  padding: 18px;

}
.dropdown-menu ul li.menu-subtitle {
  margin-top: 18px;
}
.dropdown-menu ul li.menu-subtitle a{
  color: #777;
}

.dropdown-menu ul li.menu-sub-menu {
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.dropdown-menu .login-button {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  margin-bottom: .625rem;
  padding: .5rem 2.5rem;
  font-size: 1rem;
  line-height: 1.46;
  border-radius: .25rem;
  color: #fff;
  background: #1274b8;
  position: relative;
  float: right;
  top: -9px;
}