<div class="menu-banner">
    <div class="brand-logo">
        <amp-img src="/assets/topNav.png" width="790" height="104" layout="responsive"></amp-img>
    </div>
    <div class="drop-down-button" onclick="toggleMenu()">
        <amp-img src="/assets/arrowdown.png" width="12" height="7" layout="responsive"></amp-img>
    </div>
    <div id="dropdownMenu" class="dropdown-menu hide-menu">
        <ul>
            <li>
                <a>Small to Mid-Sized Businesses</a>
            </li>
            <li>
                <a>Large Businesses</a>
            </li>
            <li>
                <a>Find a Solution</a>
            </li>
            <li class="menu-subtitle menu-sub-menu">
                <a>Manage Accounts</a>
            </li>
            <li class="menu-sub-menu clear">
                <a>Card Member</a>
                <a class="login-button">login</a>
            </li>
            <li class="menu-sub-menu clear">
                <a>Program Administrator</a>
                <a class="login-button">login</a>
            </li>
            <li class="menu-sub-menu">
                <a>FX International Payments Login</a>
            </li>
        </ul>
    </div>
</div>
<script>
    function toggleMenu() {
        document.getElementById("dropdownMenu").classList.toggle("hide-menu");
        document.getElementsByClassName("drop-down-button")[0].classList.toggle("rotate-icon");
    }
</script>